<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Add User</title>

  <link rel="shortcut icon" href="assets/img/logo-small.png">

  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="assets/plugins/feather/feather.css">

  <link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

  <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

  <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>

  <div class="main-wrapper">

    <div class="header">

      <div class="header-left">
        <a href="/adminhome" class="logo">
          <img src="/assets/img/logo.png" alt="Logo">
        </a>
        <a href="/adminhome" class="logo logo-small">

          <img src="/assets/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
      </div>

      <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fas fa-bars"></i>
        </a>
      </div>


      <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
      </a>



      <ul class="nav user-menu">






        <li class="nav-item dropdown has-arrow new-user-menus">
          <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span class="user-img">
              <img class="rounded-circle" src="<%=admin.image%>" width="31" alt="adminiamge">
              <div class="user-text">
                <h6>
                  <%=admin.name%>
                </h6>
                <p class="text-muted mb-0">Administrator</p>
              </div>
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="user-header">
              <div class="avatar avatar-sm">
                <img src="<%=admin.image%>" alt="User Image" class="avatar-img rounded-circle">
              </div>
              <div class="user-text">
                <h6>
                  <%=admin.name%>
                </h6>
                <p class="text-muted mb-0">Administrator</p>
              </div>
            </div>
            <a class="dropdown-item" href="/adminprofile">My Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>

      </ul>

    </div>


    <div class="sidebar" id="sidebar">
      <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
          <ul>
            <li class="menu-title">
              <span>Main Menu</span>
            </li>
            <li>
              <a href="/adminhome"><i class="feather-grid"></i> <span> Dashboard</span></a>

            </li>
            <li class="submenu active">
              <a href="#"><i class="fas fa-user"></i> <span> User</span> <span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/new-user" class="active">Add User</a></li>
                <li><a href="/viewstudent">All User</a></li>
                <!-- <li><a href="/viewstaff">Staff View</a></li> -->


              </ul>
            </li>

            <li class="submenu">
              <a href="#"><i class="fas fa-laptop"></i> <span> Equipment</span> <span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/all-item">All Equipment</a></li>
                <li><a href="/add-item"> Add Equipment</a></li>
                <li><a href="/categories"> Category</a></li>

              </ul>
            </li>

            <li>
              <a href="/view-approved-loan"><i class="fas fa-hand-holding"></i> <span> Loan</span> </a>

          </li>

          </ul>
        </div>
      </div>
    </div>


    <div class="page-wrapper">
      <div class="content container-fluid">

        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-sm-9">
              <div class="page-sub-header">
                <h3 class="page-title">Add User</h3>
                <ul class="breadcrumb">


                </ul>


              </div>
            </div>

          </div>
        </div>
        <% if (typeof message1 !=='undefined' ) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= message1 %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
            <div class="row">
              <div class="col-sm-12">
                <div class="card comman-shadow">
                  <div class="card-body">
                    <form action="new-user" id="myForm" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-12">
                          <h5 class="form-title student-info">User Information</h5>

                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Name <span class="login-danger">*</span></label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Enter Full Name"
                              required="required">
                            <small id="nameError" class="text-danger"></small>
                          </div>
                        </div>
                        
                        
                        

                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>User ID <span class="login-danger">*</span> </label>
                            <input class="form-control" min="0" type="text" name="userid" id="userid"
                              placeholder="Enter User ID" required="required">
                            <small id="useridError" class="text-danger"></small>
                          </div>
                        </div>



                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Email <span class="login-danger">*</span></label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="Enter Email Address"
                              required="required">
                            <small id="emailError" class="text-danger"></small>
                          </div>
                        </div>
                        
                        
                        


                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Mobile Number <span class="login-danger">*</span></label>
                            <input class="form-control" type="number" name="mobilenumber" id="mobilenumber"
                              placeholder="Enter Mobile Number" required="required">
                            <small id="mobilenumberError" class="text-danger"></small>
                          </div>
                        </div>



                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Role<span class="login-danger">*</span></label>
                            <select class="form-control select" name="usertype" required>
                              <option>Please Select Role </option>
                              <option value="User">User</option>
                              <option value="Admin">Admin</option>
                              <option value="Approval">Approval</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="form-group local-forms">
                            <label>Department <span class="login-danger">*</span></label>
                            <select id="mySelect" class="form-control select" name="department" required>
                              <option value="null">Please Select Department </option>
                              <option value="BScIT">BScIT</option>
                              <option value="SIDD">SIDD</option>
                              <option value="Blockchain">Blockchain</option>
                              <option value="Fullstack">Fullstack</option>
                              <option value="SOC">SOC</option>
                              <option value="BScCS">BScCS</option>
                              <option value="AI&DS">AI&DS</option>
                              <option value="cyberelective">Cyber Electives</option>
                              <option value="ICT">ICT</option>
                              <option value="nonteachingstaff">Non-Teaching Staff</option>

                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <label for="">Student or Staff</label>

                          <div class="form-check ">

                            <input type="radio" class="form-check-input" id="radio1" name="studentorstaff"
                              value="student" required="required" onclick="showDropdown('student')">Student
                            <label class="form-check-label" for="radio1"></label>
                          </div>
                          <div class="form-check ">
                            <input type="radio" class="form-check-input" id="radio2" name="studentorstaff" value="staff"
                              required="required" onclick="showDropdown('tutor')">Staff
                            <label class="form-check-label" for="radio2"></label>
                          </div>
                        </div>


                        <div class="col-12 col-sm-4" id="student" style="display: none;">

                          <div class="form-group local-forms">
                            <label>Year <span class="login-danger">*</span></label>
                            <select class="form-control select" name="year" aria-label="Default select example"
                              required="required">
                              <option value="0" selected>Select Year</option>
                              <option value="1">Year I</option>
                              <option value="2">Year II</option>
                              <option value="3">Year III</option>
                              <option value="3">Year IV</option>
                            </select>
                          </div>
                        </div>





                        <div class="col-12">
                          <div class="form-group">
                            <input type="file" name="image" class="form-control" id="fileInput" required="required" accept=".jpg, .jpeg, .png" />
                            <label class="form-label" for="customFile">(Accepted file: jpg, jpeg, png)</label>
                            <small id="imageError" class="text-danger"></small>
                          </div>
                        </div>
                        
                        
                        
                        <% if (typeof message !=='undefined' ) { %>
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= message %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                          </div>
                          <% } %>
                            <div class="col-12">
                              <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <input type="button" onclick="clearForm()" class="btn btn-secondary"
                                  data-dismiss="modal" value="Cancel">



                              </div>
                            </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>

  </div>

  <script>
    function clearForm() {
      document.getElementById("myForm").reset();
    }
    //Radio button dropdown
    function showDropdown(dropdownId) {
      var student = document.getElementById("student");
      // var tutor = document.getElementById("tutor");

      if (dropdownId === "student") {
        student.style.display = "block";
        // tutor.style.display = "none";
      } else if (dropdownId === "tutor") {
        student.style.display = "none";
        // tutor.style.display = "block";
      }
    }


  </script>
  <script>
    // Get the input element and error message element
    const nameInput = document.getElementById('name');
    const nameError = document.getElementById('nameError');
  
    // Add event listener to validate input on keyup
    nameInput.addEventListener('keyup', validateName);
  
    function validateName() {
      const name = nameInput.value.trim();
  
      // Reset error message
      nameError.textContent = '';
  
      // Validate name format
      const numberPattern = /\d/;
      if (numberPattern.test(name)) {
        nameError.textContent = 'Name should not contain numbers.';
      }
    }
  </script>
  <script>
    // Get the input element and error message element
    const userIdInput = document.getElementById('userid');
    const userIdError = document.getElementById('useridError');

    // Add event listener to validate input on keyup
    userIdInput.addEventListener('keyup', validateUserId);

    function validateUserId() {
      const userId = userIdInput.value.trim();
      const userIdLength = userId.length;

      // Reset error message
      userIdError.textContent = '';

      // Validate the length
      if (![8, 10, 12].includes(userIdLength)) {
        userIdError.textContent = 'User ID must have a length of 8, 10, or 12 characters.';
      }
    }
  </script>
  <script>
    // Get the input element and error message element
    const mobileNumberInput = document.getElementById('mobilenumber');
    const mobileNumberError = document.getElementById('mobilenumberError');
  
    // Add event listener to validate input on keyup
    mobileNumberInput.addEventListener('keyup', validateMobileNumber);
  
    function validateMobileNumber() {
      const mobileNumber = mobileNumberInput.value.trim();
  
      // Reset error message
      mobileNumberError.textContent = '';
  
      // Validate the length and first two numbers
      if (mobileNumber.length !== 8 || !/^(77|17)/.test(mobileNumber)) {
        mobileNumberError.textContent = 'Mobile number must have a length of 8 and start with 77 or 17.';
      }
    }
  </script>
  <script>
    // Get the input element and error message element
    const emailInput = document.getElementById('email');
    const emailError = document.getElementById('emailError');
  
    // Add event listener to validate input on keyup
    emailInput.addEventListener('keyup', validateEmail);
  
    function validateEmail() {
      const email = emailInput.value.trim();
  
      // Reset error message
      emailError.textContent = '';
  
      // Validate email format
      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailPattern.test(email)) {
        emailError.textContent = 'Please enter a valid email address.';
      }
    }
  </script>
  <script>
    // Get the file input element and error message element
    const fileInput = document.getElementById('fileInput');
    const imageError = document.getElementById('imageError');
  
    // Add event listener to validate file selection
    fileInput.addEventListener('change', validateImage);
  
    function validateImage() {
      const file = fileInput.files[0];
  
      // Reset error message
      imageError.textContent = '';
  
      // Validate file format
      if (file) {
        const allowedFormats = ['image/jpeg', 'image/jpg', 'image/png'];
        if (!allowedFormats.includes(file.type)) {
          imageError.textContent = 'Please select a file in JPG, JPEG, or PNG format.';
        }
      }
    }
  </script>

  <script src="/assets/js/jquery-3.6.0.min.js"></script>

  <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/assets/js/feather.min.js"></script>

  <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <script src="/assets/plugins/select2/js/select2.min.js"></script>

  <script src="/assets/plugins/moment/moment.min.js"></script>
  <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

  <script src="/assets/js/script.js"></script>
</body>

</html>