<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Category</title>

  <link rel="shortcut icon" href="assets/img/logo-small.png">


  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="assets/plugins/feather/feather.css">

  <link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

  <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

  <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>

  <div class="main-wrapper">

    <div class="header">

      <div class="header-left">
        <a href="/adminhome" class="logo">
          <img src="/assets/img/logo.png" alt="Logo">
        </a>
        <a href="/adminhome" class="logo logo-small">

          <img src="/assets/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
      </div>

      <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fas fa-bars"></i>
        </a>
      </div>


      <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
      </a>



      <ul class="nav user-menu">


        <li class="nav-item dropdown has-arrow new-user-menus">
          <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span class="user-img">
              <img class="rounded-circle" src="<%=admin.image%>" width="31" alt="adminiamge">
              <div class="user-text">
                <h6>
                  <%=admin.name%>
                </h6>
                <p class="text-muted mb-0">Administrator</p>
              </div>
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="user-header">
              <div class="avatar avatar-sm">
                <img src="<%=admin.image%>" alt="User Image" class="avatar-img rounded-circle">
              </div>
              <div class="user-text">
                <h6>
                  <%=admin.name%>
                </h6>
                <p class="text-muted mb-0">Administrator</p>
              </div>
            </div>
            <a class="dropdown-item" href="/adminprofile">My Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>

      </ul>

    </div>


    <div class="sidebar" id="sidebar">
      <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
          <ul>
            <li class="menu-title">
              <span>Main Menu</span>
            </li>
            <li>
              <a href="/adminhome"><i class="feather-grid"></i> <span> Dashboard</span></a>

            </li>
            <li class="submenu">
              <a href="#"><i class="fas fa-user"></i> <span> User</span> <span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/new-user">Add User</a></li>
                <li><a href="/viewstudent">All User</a></li>
                <!-- <li><a href="/viewstaff">Staff View</a></li> -->


              </ul>
            </li>

            <li class="submenu active">
              <a href="#"><i class="fas fa-laptop"></i> <span> Equipment</span> <span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/all-item">All Equipment</a></li>
                <li><a href="/add-item"> Add Equipment</a></li>
                <li><a href="/categories" class="active"> Category</a></li>

              </ul>
            </li>

            <li class="active">
              <a href="/view-approved-loan"><i class="fas fa-hand-holding"></i> <span> Loan</span> </a>

          </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="page-wrapper">
      <div class="content container-fluid">

        <div class="page-header">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-sub-header">
                <h3 class="page-title">Add Category</h3>
                <ul class="breadcrumb"
                  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                  aria-label="breadcrumb">
                  <li class="breadcrumb-item"><a href="">Category</a></li>
                  <li class="breadcrumb-item active"> Add Category</li>
                </ul>
              </div>
            </div>
          </div>
        </div>




        <form action="/categories" method="post">
          <div class="col">
            <div class="form-group ">
              <!-- <label>Category Name <span class="login-danger">*</span></label> -->
              <input class="form-control" type="text" name="name" id="name" placeholder="Enter Category Name" required>
            </div>

            <% if (typeof message !=='undefined' ) { %>
              <div class="d-flex alert alert-danger alert-dismissible fade show" role="alert">
                <%= message %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
                <% if (typeof message1 !=='undefined' ) { %>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= message1 %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <% } %>

          </div>
          <div class=" ">
            <div class="student-submit">
              <input type="submit" class="btn btn-primary " value="Add" onclick="validateForm()">
              <input type="button" class="btn btn-secondary m-2" data-dismiss="modal" value="Cancel"
                onclick="clearCategoryInput()">
            </div>
          </div>
        </form>



        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table comman-shadow">
              <div class="card-body">
                <%- include('messages') %>

                  <div class="page-header">
                    <div class="row align-items-center">
                      <div class="col">
                        <h3 class="page-title">Manage Category</h3>
                      </div>

                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                      <thead class="student-thread">
                        <tr class=>


                          <th>Category Name</th>
                          <th class="col-1">Action</th>


                        </tr>
                      </thead>
                      <tbody>
                        <% categories.forEach(category=> { %>


                          <td>
                            <%=category.name%>
                          </td>


                          <td class="text-end">
                            <div>
                              <a href="/edit-category/<%= category.id %>" class="btn btn-sm bg-success-light me-2">
                                <i class="feather-edit"></i>
                              </a>

                              <!-- <a href="#" type="submit" data-bs-toggle="modal"
                                                        data-bs-target="#deleteUserModal"
                                                        class="btn btn-sm bg-danger-light">
                                                        <i class="feather-trash" style="color: red;"></i></a> -->



                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog"
                              aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="deleteUserModalLabel">
                                      Confirm Delete</h5>
                                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                                    <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                  </div>
                                  <div class="modal-header">
                                    Are you sure you want to delete Category <%=category.name%>?
                                  </div>
                                  <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-secondary"
                             data-dismiss="modal">Cancel</button> -->
                                    <form action="/delete-category/<%= category.id %>" method="POST">
                                      <input type="hidden" name="id" value="<%= category.id %>">
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </td>

                          </tr>
                          <% }); %>


                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>




      </div>

    </div>


  </div>

  <script>

    function clearCategoryInput() {
      document.getElementById("name").value = "";

    }

    function confirmDelete(event, categoryName) {
      event.preventDefault();
      if (confirm(`Are you sure you want to delete ${categoryName} category?`)) {
        event.target.closest('form').submit();
      }
    }
//     $(document).ready(() => {
//     $('#category-form').on('submit', (event) => {
//         event.preventDefault();
//         const name = $('#name').val();
//         $.ajax({
//             url: '/categories',
//             type: 'POST',
//             data: { name },
//             success: (response) => {
//                 Swal.fire({
//                     icon: 'success',
//                     title: 'Success',
//                     text: response.message,
//                 }).then(() => {
//                     $('#category-form')[0].reset();
//                 });
//             },
//             error: (xhr, status, error) => {
//                 Swal.fire({
//                     icon: 'error',
//                     title: 'Error',
//                     text: xhr.responseJSON.message,
//                 });
//             }
//         });
//     });
// });



  </script>


  <script src="/assets/js/jquery-3.6.0.min.js"></script>

  <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/assets/js/feather.min.js"></script>

  <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <script src="/assets/plugins/select2/js/select2.min.js"></script>

  <script src="/assets/plugins/moment/moment.min.js"></script>
  <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

  <script src="/assets/js/script.js"></script>
</body>

</html>