<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Edit Students</title>

    <link rel="shortcut icon" href="assets/img/logo-small.png">


    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="/adminhome" class="logo">

                    <img src="assets/img/logo.png" alt="Logo">
                </a>
                <a href="/adminhome" class="logo logo-small">
                    <img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="nav user-menu">


                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="<%=admin.image%>" width="31" alt="Soeng Souy">
                            <div class="user-text">
                                <h6>
                                    <%=admin.name%>
                                </h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="<%=admin.image%>" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>
                                    <%=admin.name%>
                                </h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/adminprofile">My Profile</a>
                        <!-- <a class="dropdown-item" href="inbox.html">Inbox</a> -->
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li>
                            <a href="/adminhome"><i class="feather-grid"></i> <span> Dashboard</span></a>

                        </li>
                        <li class="submenu active">
                            <a href="#"><i class="fas fa-user"></i> <span> User</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/new-user">Add User</a></li>
                                <li><a href="/viewstudent" class="active">All User</a></li>
                                <!-- <li><a href="/viewstaff">Staff View</a></li> -->


                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-laptop"></i> <span> Equipment</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/all-item">All Equipment</a></li>
                                <li><a href="/add-item"> Add Equipment</a></li>
                                <li><a href="/categories">Category</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/view-approved-loan"><i class="fas fa-hand-holding"></i> <span> Loan</span> </a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-sub-header">
                                <h3 class="page-title">User Details</h3>
                                <ul class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                                aria-label="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/viewstudent">User</a></li>
                                    <li class="breadcrumb-item"> <a href="/viewstudent">All User</a></li>
                                    <li class="breadcrumb-item"> <a href="#">User Details</a></li>
                                    <li class="breadcrumb-item active" > Edit Details</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <form action="/edit-user" method="post" enctype="multipart/form-data">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4">

                                        <div class="col-12" id="image-container">


                                            <label for="image-upload"
                                                style="position: relative; display: inline-block;">
                                                <i class="fas fa-camera"
                                                    style="position: absolute; bottom: 0; right: 0; font-size: 2rem; filter: brightness(120%);"></i>
                                                <div class="profile-user">
                                                    <img src="<%=users.image%>" alt="Original Image"
                                                        class=" img-fluid mt-4">
                                                </div>
                                            </label>
                                            <input id="image-upload" value="<%=users.image %>" name="image" type="file"
                                                style="display: none;">

                                        </div>

                                    </div>
                                    <div class="col-lg-9 col-sm-8 col-md-8">


                                        <div class="row">
                                            <div class="col-sm-3 col-ld-3 col-md-3">
                                                <p class="mb-0">Full Name</p>
                                            </div>
                                            <div class="col-sm-9 col-lg-9 col-md-9">
                                                <input class=" form-control" value="<%=users.name%>" id="name" name="name"
                                                    type="text" required>
                                                    <small id="nameError" class="text-danger"></small>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <input class=" form-control" name="email" id="email" type="email"
                                                    value="<%=users.email%>" required>
                                                    <small id="emailError" class="text-danger"></small>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">User ID</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" min="0" name="userid" id="userid" value="<%=users.userid%>"
                                                    class=" form-control" required>
                                                    <small id="useridError" class="text-danger"></small>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Phone</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="number" name="mno" min="0" value="<%=users.mobilenumber%>"
                                                    class=" form-control" id="mobilenumber" required>
                                                    <small id="mobilenumberError" class="text-danger"></small>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Section</p>
                                            </div>
                                            <div class="col-sm-9">


                                                <select name="department" class="form-control" required>
                                                    <option value="BScIT" <% if (users.department==="BScIT" ) { %>
                                                        selected<% } %>>BScIT</option>
                                                    <option value="SIDD" <% if (users.department==="SIDD" ) { %>selected
                                                        <% } %>>SIDD
                                                    </option>
                                                    <option value="Blockchain" <% if (users.department==="Blockchain" )
                                                        { %>
                                                        selected<% } %>>Blockchain
                                                    </option>
                                                    <option value="Fullstack" <% if (users.department==="Fullstack" ) {
                                                        %>
                                                        selected<% } %>>Fullstack</option>
                                                    <option value="SOC" <% if (users.department==="SOC" ) { %>selected<%
                                                            } %>
                                                            >SOC</option>
                                                    <option value="BScCS" <% if (users.department==="BScCS" ) { %>
                                                        selected<% } %>>BScCS</option>
                                                    <option value="AI&DS" <% if (users.department==="AI&DS" ) { %>
                                                        selected<% } %>>AI&DS</option>
                                                    <option value="ICT" <% if (users.department==="ICT" ) { %>selected<%
                                                            } %>
                                                            >ICT</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-3">
                                              <p class="mb-0">Year</p>
                                            </div>
                                            <div class="col-sm-9">
                                              <input type="text" name="year" id="yearInput" value="<%=users.year%>" class="form-control" required>
                                              <small id="yearError" class="text-danger"></small>
                                            </div>
                                          </div>
                                          
                                          
                                          
                                        <hr>
                                        <div class="mt-2">
                                            <input type="submit" class="btn btn-primary" value="Save">
                                            <input type="hidden" name="id" value="<%= users._id %>">

                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>

                </div>
            </div>



        </div>



    </div>

    </div>
    <script>
        const imageContainer = document.getElementById("image-container");
        const originalImage = imageContainer.querySelector("img");
        // const hoverImageSrc = "https://placehold.it/150x150/0000FF/FFFFFF";
        const imageUpload = imageContainer.querySelector("#image-upload");

        imageUpload.addEventListener("change", () => {
            const file = imageUpload.files[0];
            const reader = new FileReader();

            reader.addEventListener("load", () => {
                originalImage.src = reader.result;
                originalImage.dataset.src = reader.result;
            });

            reader.readAsDataURL(file);
        });
    </script>
    <script>
        // Get the input element and error message element
        const nameInput = document.getElementById('name');
        const nameError = document.getElementById('nameError');
      
        // Add event listener to validate input on keyup
        nameInput.addEventListener('keyup', validateName);
      
        function validateName() {
          const name = nameInput.value.trim();
      
          // Reset error message
          nameError.textContent = '';
      
          // Validate name format
          const numberPattern = /\d/;
          if (numberPattern.test(name)) {
            nameError.textContent = 'Name should not contain numbers.';
          }
        }
      </script>
       <script>
        // Get the input element and error message element
        const userIdInput = document.getElementById('userid');
        const userIdError = document.getElementById('useridError');
    
        // Add event listener to validate input on keyup
        userIdInput.addEventListener('keyup', validateUserId);
    
        function validateUserId() {
          const userId = userIdInput.value.trim();
          const userIdLength = userId.length;
    
          // Reset error message
          userIdError.textContent = '';
    
          // Validate the length
          if (![8, 10, 12].includes(userIdLength)) {
            userIdError.textContent = 'User ID must have a length of 8, 10, or 12 characters.';
          }
        }
      </script>
      <script>
        // Get the input element and error message element
        const mobileNumberInput = document.getElementById('mobilenumber');
        const mobileNumberError = document.getElementById('mobilenumberError');
      
        // Add event listener to validate input on keyup
        mobileNumberInput.addEventListener('keyup', validateMobileNumber);
      
        function validateMobileNumber() {
          const mobileNumber = mobileNumberInput.value.trim();
      
          // Reset error message
          mobileNumberError.textContent = '';
      
          // Validate the length and first two numbers
          if (mobileNumber.length !== 8 || !/^(77|17)/.test(mobileNumber)) {
            mobileNumberError.textContent = 'Mobile number must have a length of 8 and start with 77 or 17.';
          }
        }
      </script>
      <script>
        // Get the input element and error message element
        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('emailError');
      
        // Add event listener to validate input on keyup
        emailInput.addEventListener('keyup', validateEmail);
      
        function validateEmail() {
          const email = emailInput.value.trim();
      
          // Reset error message
          emailError.textContent = '';
      
          // Validate email format
          const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (!emailPattern.test(email)) {
            emailError.textContent = 'Please enter a valid email address.';
          }
        }
      </script>
      <script>
        // Get the input element and error message element
        const yearInput = document.getElementById('yearInput');
        const yearError = document.getElementById('yearError');
      
        // Add event listener to validate input on keyup
        yearInput.addEventListener('keyup', validateYear);
      
        function validateYear() {
          const year = yearInput.value.trim();
      
          // Reset error message
          yearError.textContent = '';
      
          // Validate if input is a number and within the range
          if (isNaN(year) || year < 1 || year > 4) {
            yearError.textContent = 'Year should be a number between 1 and 4.';
          }
        }
      </script>

    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>


    <script src="assets/plugins/datatables/datatables.min.js"></script>


    <script src="assets/js/script.js"></script>
</body>

</html>