<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Equipment Details</title>

    <link rel="shortcut icon" href="/assets/img/logo-small.png">


    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="/assets/plugins/icons/flags/flags.css">

    <link rel="stylesheet" href="/controllers/">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/plugins/datatables/datatables.min.css">

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="/adminhome" class="logo">
                    <img src="/assets/img/logo.png" alt="Logo">
                </a>
                <a href="/adminhome" class="logo logo-small">
                    <img src="/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>

            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>



            <ul class="nav user-menu">

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="<%=admin.image%>" width="31" alt="Soeng Souy">
                            <div class="user-text">
                                <h6>
                                    <%=admin.name%>
                                </h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="<%=admin.image%>" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>
                                    <%=admin.name%>
                                </h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/adminprofile">My Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li>
                            <a href="/adminhome"><i class="feather-grid"></i> <span> Dashboard</span></a>

                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-user"></i> <span> User</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/new-user">Add User</a></li>
                                <li><a href="/viewstudent">All User</a></li>
                                <!-- <li><a href="/viewstaff">Staff View</a></li> -->


                            </ul>
                        </li>
                        <li class="submenu active">
                            <a href="#"><i class="fas fa-laptop"></i> <span> Equipment</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/all-item" class="active">All Equipment</a></li>
                                <li><a href="/add-item"> Add Equipment</a></li>
                                <li><a href="/categories">Category</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/view-approved-loan"><i class="fas fa-hand-holding"></i> <span> Loan</span> </a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">

            <div class="content container">
                <%- include('messages') %>

                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Equipment Details</h3>
                                <ul class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                                aria-label="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/all-item">Equipment</a></li>
                                    <li class="breadcrumb-item"><a href="/all-item">All Equipment</a></li>
                                    <li class="breadcrumb-item active">Equipment Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-6 border-end">
                                <div class="d-flex justify-content-center">
                                    <div class="main_image"> <img src="<%=item.image%>" id="main_product_image"
                                            class="img-fluid mt-4"> </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-3 right-side">
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <h3>
                                            <%=item.name%>
                                        </h3>

                                    </div>
                                    <div class="mt-1">
                                        <p style="font-size: 1em ; color: gray;">
                                            <%=item.category.name%>
                                        </p>
                                    </div>


                                    <hr>

                                    <div class="mt-2 pr-3 content">
                                        <p>
                                            <%=item.description%>
                                        </p>
                                    </div>
                                    <hr>
                                    <!-- <span> Quantity : <%=item.available_items%>
                                    </span> -->
                                    <span> Item Tag : <%=item.itemtag%>
                                    </span>
                                    <hr>
                                    <span>
                                        <% if (item.available_items===1) { %>
                                            <span class="badge bg-success"> Available </span>
                                            <% } else if (item.available_items===0) { %>
                                                <span class="badge bg-warning"> On Loan</span>
                                                <% } %>
                                    </span>

                                </div>
                                <div class="row">
                                    <div class="col-lg-9 col-md-8  buttons d-flex flex-row  gap-3 p-3">


                                        <a href="/edit-item/<%= item._id %>" type="button"
                                            class="btn btn-primary">Edit</a>

                                        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteUserModal"
                                            class="btn btn-outline-danger ms-1">Delete</button>
                                    </div>

                                    <div class="col-lg-3 col-md-4  buttons d-flex flex-row  gap-3 p-3 mt-auto">


                                        <a href="/view_loan_for_item/<%= item._id %>">Loan History</a>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteUserModalLabel">Confirm Delete
                                                </h5>

                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete equipment "<%= item.name,
                                                    item.category%>"?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    onclick="$('#deleteUserModal').modal('hide')">Cancel</button>

                                                <form action="/delete-item/<%= item._id %>" method="POST">
                                                    <input type="hidden" name="id" value="<%= item._id %>">
                                                    <input type="hidden" name="isDeleted" value="true">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

            </div>



        </div>

    </div>






    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/feather.min.js"></script>

    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>


    <script src="/assets/plugins/datatables/datatables.min.js"></script>


    <script src="/assets/js/script.js"></script>
</body>

</html>