<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICT - Your Loan</title>

    <link rel="icon" href="../assets/img/logo-small.png" type="image/png">
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../assets/linericon/style.css">
    <link rel="stylesheet" href="../assets/nice-select/nice-select.css">
    <link rel="stylesheet" href="../assets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap4.min.css">
</head>

<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="/userhome"><img src="../assets/img/logo-small.png"
                            style="width: 60px; height: 60px;" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item"><a class="nav-link" href="/userhome">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/all-items">Equipment</a></li>
                            <li class="nav-item active"><a class="nav-link" href="#">Loan</a></li>
                            <li class="nav-item"><a class="nav-link" href="/aboutus">About</a></li>

                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item cartnav"><a href="/cart"><i class="ti-shopping-cart"
                                        style="font-size: large;"></i>
                                    <span
                                        class="position-relative start-100 translate-middle badge rounded-pill bg-danger <%= cartItemCount > 0 ? ' active' : '' %>"
                                        style="color: #fff; top: -10px; font-size: smaller; right: 7px;">
                                        <%= cartItemCount %>
                                    </span></a> </li>

                            <li class="nav-item submenu dropdown">

                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false"> <img src="<%=users.image%>"
                                        class="rounded-circle" height="30" width="30" alt="User Profile"
                                        loading="lazy" /></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/user-profile">My Profile</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <% include('messages') %>

            <% if (typeof message !=='undefined' ) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <% } %>

                    <% if (loanDetails.status==='accept' ) { %>
                        <!-- Display loaned items details for accept status -->
                        <form action="/accept-items/<%= loanDetails._id %>" method="POST">
                            <table id="datatablesSimple" class="table table-striped table-bordered"
                                style="width: 100%;">
                                <thead class="student-thread">
                                    <tr>
                                        <th></th>
                                        <!-- Checkbox column -->
                                        <th>Item Name</th>
                                        <th>Item Tag</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% acceptItems.forEach((item)=> { %>
                                        <% if (item.item && item.item.image) { %>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="selectedItems[]"
                                                        value="<%= item._id %>">
                                                </td>
                                                <td class="d-flex align-items-center">
                                                    <div class="avatar avatar-sm me-2">
                                                        <img class="rounded-circle img-thumbnail img-fluid"
                                                            src="<%= item.item.image %>" alt="User Image"
                                                            style="max-width: 50px; max-height: 50px;">
                                                    </div>
                                                    <%= item.item.name %>
                                                </td>
                                                <td>
                                                    <%= item.item.itemtag %>
                                                </td>
                                                <td>
                                                    <%= item.item.category.name %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% }); %>
                                </tbody>
                            </table>
                            <div>
                                <h4 class="text-center">Terms and Condition</h4>
                                <div class="card-body">


                                    <ol>
                                        <li>
                                            Ownership: The ownership of the loaned ICT equipment remains with the Lender
                                            at
                                            all times. The Borrower has no rights or claims of ownership over the
                                            equipment.

                                        </li>
                                        <li>
                                            Loan Period: The loan period will be specified with a start date and end
                                            date.
                                            Any
                                            extension or renewal of the loan period should be agreed upon in writing by
                                            both
                                            parties.
                                        </li>
                                        <li>
                                            Condition of Equipment: The Borrower acknowledges that the equipment is in
                                            good
                                            working
                                            condition at the time of loan. The Borrower agrees to return the equipment
                                            in
                                            the same
                                            condition.
                                        </li>
                                        <li>
                                            Use of Equipment: The Borrower agrees to use the loaned equipment solely for
                                            its
                                            intended purpose and in a careful and responsible manner. The equipment
                                            should
                                            not be
                                            modified, tampered with, or used for illegal activities.
                                        </li>
                                        <li>
                                            Care and Maintenance: The Borrower is responsible for properly handling and
                                            maintaining
                                            the loaned equipment. This includes protecting it from damage, loss, theft,
                                            or
                                            unauthorized use. Any damage, loss, or theft should be promptly reported to
                                            the
                                            Lender.
                                        </li>
                                        <li>
                                            Liability and Indemnification: The Borrower assumes all liability for the
                                            use,
                                            operation, and condition of the loaned equipment during the loan period. The
                                            Borrower
                                            agrees to indemnify and hold the Lender harmless from any claims, damages,
                                            losses, or
                                            expenses arising out of the Borrower's use of the equipment.
                                        </li>
                                        <li>

                                            Return of Equipment: The Borrower agrees to return the equipment to the
                                            Lender
                                            at the
                                            end of the loan period or upon request. The Borrower is responsible for any
                                            costs
                                            associated with the return of the equipment.
                                        </li>

                                    </ol>
                                </div>
                            </div>
                            <div class="text-center">
                            
                            <button type="submit" class=" col-2 btn btn-primary">Accept</button></div>
                        </form>
                        <% } else { %>
                            <!-- Display loaned items details for other statuses -->
                            <table id="datatablesSimple" class="table table-striped table-bordered"
                                style="width: 100%;">
                                <thead class="student-thread">
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Item Tag</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% loanDetails.items.forEach((item)=> { %>
                                        <% if (item.item && item.item.image) { %>
                                            <tr>
                                                <td class="d-flex align-items-center">
                                                    <div class="avatar avatar-sm me-2">
                                                        <img class="rounded-circle img-thumbnail img-fluid"
                                                            src="<%= item.item.image %>" alt="User Image"
                                                            style="max-width: 50px; max-height: 50px;">
                                                    </div>
                                                    <%= item.item.name %>
                                                </td>
                                                <td>
                                                    <%= item.item.itemtag %>
                                                </td>
                                                <td>
                                                    <%= item.item.category.name %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% }); %>
                                </tbody>
                            </table>
                            <% } %>
    </div>


    <footer>

        <div class="footer-bottom mt-3">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                        ICT-ELS
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="../assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="../assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/skrollr.min.js"></script>
    <script src="../assets/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/nice-select/jquery.nice-select.min.js"></script>
    <script src="../assets/jquery.ajaxchimp.min.js"></script>
    <script src="../assets/mail-script.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script>
        // Get the input element
        const datepicker = document.getElementById("datepicker");

        // Initialize the datepicker
        flatpickr(datepicker, {
            // Set the format of the date
            dateFormat: "d-m-Y",
            // Set the default date to today's date
            defaultDate: "today",
            // Set the minimum selectable date to today's date
            minDate: "today",
        });



    </script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                fixedHeader: true,
                order: [[0, 'desc']]
            });
        });
    </script>



</body>

</html>