<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="icon" href="assets/img/logo-small.png" type="image/png">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="assets/linericon/style.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/nice-select/nice-select.css">
    <link rel="stylesheet" href="assets/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="assets/css/style1.css">
</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="/approvalhome"><img src="assets/img/logo-small.png"
                            style="width: 60px; height: 60px;" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item"><a class="nav-link" href="/approvalhome">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/all-equipment">Equipment</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href=# class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Loan<span class="badge badge-danger">
                                        <!-- Display the pending loan count here -->
                                        <%= pendingLoansCount + pendingapprovalLoanCount %>
                                    </span></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="/personalloan" class="nav-link">Your Loan</a>
                                    </li>
                                    <div class="nav-item dropright dropdown-dropright">
                                        <a href=# class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false" id="loanDropdown">Pending Loan
                                            <i class="ti-angle-right" style="margin-left: 22.5px;"></i>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="loanDropdown">
                                            <div class="nav-item">
                                                <a class="dropdown-item" href="/view-req-loan">User<span
                                                        class="badge badge-danger">
                                                        <!-- Display the pending loan count here -->
                                                        <%= pendingLoansCount %>
                                                    </span></a>
                                            </div>
                                            <div class="nav-item">
                                                <a class="dropdown-item" href="/viewapproval-req-loan">Approval<span
                                                        class="badge badge-danger">
                                                        <%= pendingapprovalLoanCount %>
                                                    </span></a>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item active"><a class="nav-link" href="/aboutus1">About</a></li>


                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item cartnav"><a href="/cart1"><i class="ti-shopping-cart"
                                        style="font-size: large;"></i> <span
                                        class="position-relative start-100 translate-middle badge rounded-pill bg-danger <%= cartItemCount > 0 ? ' active' : '' %>"
                                        style="color: #fff; top: -10px; font-size: smaller; right: 7px;">
                                        <%= cartItemCount %>
                                    </span></a> </li>
                            <li class="nav-item submenu dropdown">

                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false"> <img src="<%=users.image%>"
                                        class="rounded-circle" height="30" width="30" alt="User Profile"
                                        loading="lazy" /></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/approval-profile">My Profile</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>



    <section>
        <div class=" container mt-2">
            <div class="col-lg-12">
                <h2>About ICT-ELS</h2>

                <p class="text-justify mt-2 description">An ICT (Information and Communication Technology) equipment
                    loan system in
                    a college refers to a process where students, faculty members, or staff members can borrow ICT
                    equipment for
                    educational or administrative purposes. This system typically involves a lending process, where
                    users can request
                    to borrow equipment such as laptops, projectors, cameras, or other digital devices from the
                    college's ICT department
                    or library. The loan period may vary, but it is typically for a few days to a few weeks, depending
                    on the equipment
                    and the user's needs. <span class="description-more hide">The ICT equipment loan system of a college
                        is essential
                        in ensuring that students, faculty, and staff have access to the necessary tools and resources
                        to support their academic
                        and administrative activities. It enables them to engage in digital learning and teaching
                        activities, collaborate on projects,
                        conduct research, and complete assignments. Furthermore, the ICT equipment loan system can help
                        colleges save costs by ensuring
                        that expensive equipment is shared and utilized efficiently, reducing the need to purchase new
                        equipment regularly. It also
                        promotes sustainability by reducing electronic waste and increasing the lifespan of digital
                        devices. Overall, the ICT equipment
                        loan system is an integral part of modern education, enabling students, faculty, and staff to
                        stay connected, engaged, and productive
                        in a digital world.</span></p>

                <a href="#" class="text-center  description-toggle" style="background: none;">See More</a>


            </div>
            <div class="col-lg-12">

                <div class="section-intro pb-60px">
                    <h2>The <span class="section-intro__style">Team</span></h2>
                </div>
                <div class="row" id="card-container">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="assets/img/bk.jpeg" style="max-width: 18rem;" alt="">

                            </div>
                            <div class="card-body">
                                <p>Back-End Developer</p>
                                <h4 class="card-product__title">Bikram Chuwan
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="assets/img/tg.jpg"
                                    style="max-width: 18rem; max-height: 40rem" alt="">

                            </div>
                            <div class="card-body">
                                <p>Back-End Developer</p>
                                <h4 class="card-product__title">Tshering Gyeltsen</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="assets/img/td.jpg"
                                    style="max-width: 18rem; max-height: 40rem" alt="">

                            </div>
                            <div class="card-body">
                                <p>Front-End Developer</p>
                                <h4 class="card-product__title">Tshering Dawa</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="assets/img/aja.jpeg" style="max-width: 18rem;height: 223px;"
                                    alt="">

                            </div>
                            <div class=" card-body">
                                <p>Front-End Developer</p>
                                <h4 class="card-product__title">Saraswati Archarja</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="assets/img/tw.jpg" style="max-width: 18rem; height: 223px;"
                                    alt="">

                            </div>
                            <div class="card-body">
                                <p>Front-End Developer</p>
                                <h4 class="card-product__title">Tshering Wangchuk</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
    <footer class="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | ICT-ELS
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/skrollr.min.js"></script>
    <script src="assets/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/nice-select/jquery.nice-select.min.js"></script>
    <script src="assets/nouislider/nouislider.min.js"></script>
    <script src="assets/jquery.ajaxchimp.min.js"></script>
    <script src="assets/mail-script.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>